In [1]:
import os
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
gdp_data = pd.read_excel("Country GDP Final.xls")

In [8]:
pd.options.display.float_format = '${:,.2f}'.format
gdp_data.head()

,NOC,NOC Region,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFG,Afghanistan,$nan,$nan,"$4,055,176,933.37","$4,515,563,413.83","$5,226,775,163.30","$6,209,140,044.01","$6,971,286,731.72","$9,747,886,104.53",...,"$12,439,087,076.77","$15,856,574,731.44","$17,804,280,538.11","$20,001,615,788.67","$20,561,054,090.40","$20,484,873,230.21","$19,907,111,418.99","$19,362,642,266.65","$20,191,764,940.16","$19,362,969,582.36"
1,ALB,Albania,"$3,480,355,188.60","$3,922,099,470.97","$4,348,070,165.19","$5,611,492,282.87","$7,184,681,398.57","$8,052,075,642.11","$8,896,073,938.31","$10,677,321,490.38",...,"$12,044,223,457.83","$11,926,962,834.96","$12,890,867,535.56","$12,319,784,701.33","$12,776,277,648.92","$13,228,244,336.32","$11,386,927,679.09","$11,861,353,752.07","$13,025,064,966.58","$15,102,500,898.24"
2,ALG,Algeria,"$54,786,074,940.21","$54,743,249,368.65","$56,758,113,501.17","$67,866,141,223.59","$85,324,767,230.49","$103,198,442,061.08","$117,030,941,571.94","$134,978,727,825.85",...,"$137,214,821,177.36","$161,205,065,469.31","$200,015,355,528.47","$209,062,886,917.04","$209,754,763,860.68","$213,808,808,746.70","$165,978,425,168.39","$160,032,930,353.76","$167,390,266,100.76","$173,757,952,824.25"
3,AND,Andorra,"$1,434,429,703.34","$1,496,912,751.68","$1,733,116,883.12","$2,398,645,598.19","$2,935,659,299.73","$3,255,789,080.96","$3,543,256,805.92","$4,016,972,351.49",...,"$3,660,530,702.97","$3,355,695,364.24","$3,442,062,830.14","$3,164,615,186.95","$3,281,585,236.33","$3,350,736,367.25","$2,811,489,408.89","$2,877,311,946.90","$3,013,387,423.94","$3,236,543,909.35"
4,ANG,Angola,"$9,129,594,818.61","$8,936,063,723.20","$15,285,594,828.42","$17,812,705,294.33","$23,552,052,407.55","$36,970,918,699.25","$52,381,006,892.04","$65,266,452,081.39",...,"$70,307,163,678.24","$83,799,496,611.20","$111,789,686,464.44","$128,052,853,643.11","$136,709,862,831.19","$145,712,200,312.51","$116,193,649,124.15","$101,123,851,090.46","$122,123,822,333.59","$105,750,987,618.63"